.formation h2, .formation h3{
    text-align: center;
}

.formation h2{
    font-size: 2em;
}

.formation > section{
    padding: 60px 0;
}

.formation > .formation_intro{
    margin: 100px auto 60px;
    padding: 60px;
    border-top: 5px solid #4eba76;
    border-radius: 20px;
    box-shadow: 0 0 3px lightgrey;
}

.formation_intro hr{
    color: lightgrey;
    margin: 40px 0;
}

.formation_intro_numbers{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    text-align: center;
}

.formation_intro_numbers > p {
    flex: 1;
    margin: 0;
}

.formation_intro_links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.formation_intro_links > a {
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 0 3px lightgrey;
}

.formation_intro_links > a:first-of-type {
    color: white;
    background-color: #4eba76;
}

.formation_intro_links > a:last-of-type {
    color: #4eba76;
    background-color: white;
    padding: 10px 20px;
}

.formation_intro_links > a:hover{
    color: white;
    background-color: #30834e;
}

.formation_target > div{
    display: flex;
    text-align: center;
}

.formation_target_image{
    width: 80%;
    max-width: 400px;
    min-width: 200px;
    margin: 15px 20px 0;
}

.formation_target_text{
    z-index: 2;
    position: relative;
    top: -30px;
}

.formation_target_text > p{
    margin: 5px 0;
    font-size: 0.9em;
    font-style: italic;
}

.formation > .formation_content{
    padding: 60px;
}

.formation_content article{
    margin: 40px auto;
    border-top: 1px solid lightgrey;
    padding: 20px 5px;
}

.formation_content h3{
    text-align: left;
    font-size: 1.5em;
}

.formation_content_goals{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.formation_content_goals > p{
    font-size: 1em;
    padding: 20px;
    border: 1px solid #4eba76;
    border-radius: 10px;
    line-height: 1.4em;
}

.formation_content_duration > ul{
    padding-left: 15px;
    list-style-type: circle;
}

.formation > .formation_dates{
    position: relative;
    width: 80%;
    margin: 0 auto 40px;
    padding: 60px;
    border-bottom: 5px solid #4eba76;
    border-radius: 20px;
    box-shadow: 0 0 3px lightgrey;
}

.formation_dates > div{
    display: flex;
}

.formation_dates > .anchor{
    top: -100px;
}

.formation_dates > div > p{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formation_dates > div > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formation_dates > div > div > img{
    width: 80%;
}



.formation > .btnBloc{
    margin-bottom: 50px;
    margin-right: 20px;
}