body{
    font-size: 16px;
    font-family: 'Raleway', helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3, h4{
    margin: 0;
}

.condensed-text{
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    color: initial;
    text-decoration: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Includes */
header{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
    height: 65px;
}

header nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand{
    display: flex;
    align-items: center;
}

header h1{
    font-size: 1.9em;
    font-weight: 700;
    margin-left: 20px;
}

header .contact-btn{
    font-weight: 700;
    padding: 10px 18px;
    border: 2px solid black;
    border-radius: 30px;
}

/* HomePage */

/* PostPage */