html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Raleway', helvetica, sans-serif;
    margin: 0;
    color: rgb(34, 34, 34);
}

h1, h2, h3, h4{
    margin: 0;
}

.condensed-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}

.roboto-text{
    font-family: 'Roboto', sans-serif;
}

a{
    color: initial;
    text-decoration: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.btn{
    font-weight: 700;
    padding: 10px 18px;
    border: 2px solid black;
    border-radius: 30px;
}

.fullWidthImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Includes */
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
    height: 65px;
}

header nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand{
    display: flex;
    align-items: center;
}

header h1{
    font-size: 1.9em;
    font-weight: 700;
    margin-left: 20px;
}

section{
    padding: 80px 0;
}

footer{
    background-color: rgb(222, 222, 222);
    padding: 20px 0;
}

footer div.container{
    display: flex;
    justify-content: space-between;
}

footer .linkedin-sharelink{
    display: flex;
    align-items: center
}

footer .linkedin-sharelink img{
    display: block;
    width: 70px;
    border-radius: 3px;
    border: 1px solid #0074b3;
}

/* -------------------------- HomePage ------------------ */
/* Section Intro */
#intro{
    padding: 0;
    width: 100%;
    height: 100vh;
}

#intro > img{
    position: relative;
    top: 65px;
    width: 100%;
    height: calc(100vh - 65px);
    object-fit: cover;
}

.intro-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
}

.intro-content > h2{
    font-size: 3em;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 90px;
}

.intro-content > .btn{
    font-size: 1.2em;
    padding: 24px 40px;
    border-radius: 50px;
}

/* Section Needs */
#needs{
    position: relative;
    color: #4f4646;
    background-color: white;
}

#anchor{
    display: block;
    position: absolute;
    top: -65px;
    visibility: hidden;
}

#needs h2{
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 10px;
}

#needs h3{
    font-weight: 100;
    font-size: 1.5em;
    margin: 20px 0 50px;
}

.needs_items{
    display: flex;
    justify-content: space-between;
}

.needs_items > p{
    font-size: 1.2em;
    padding: 20px;
    border: 2px solid rgba(0,0,0,.1);
    width: 28%;
    line-height: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Section Solutions */
#solutions{
    background-color: #ebe8e4;
}

#solutions .container{
    display: flex;
    justify-content: space-between;
}

.solutions_item{
    width: 22%;
    text-align: center;
    font-size: 1.2em;
}

.solutions_item strong{
    font-weight: 900;
}

.solutions_item > img{
    display: block;
    margin: 25px auto 0;
}

/* Section Experiment & Simplify*/
.steps{
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.steps > div{
    width: 25%;
    padding: 0 20px;
    text-align: center;
    line-height: 1.63;
    letter-spacing: .4px;
}

.steps .square_box{
    position: relative;
}

.steps .square_box .square_linker{
    position: absolute;
    top: 27px;
    left: calc(50% - -52px);
    width: calc(100% - 82px);
    height: 1px;
    border-right: 0;
    border-top: 1px solid #d6d6d5;
}

#experiment, #simplify{
    color: white;
}

.steps .condensed-text{
    font-size: 1.1em;
}

.steps p{
    margin: 0;
}

#experiment h2, #simplify h2{
    font-size: 2.2em;
    font-weight: 400;
}

#experiment .container > p, #simplify .container > p{
    font-size: 1.2em;
    font-weight: 400;
}

.steps .square {
    border: 1px solid white;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 700;
    margin: 0 auto 10px;
}

/* Section Experiment */
#experiment{
    position: relative;
    background: rgba(105,103,101,0.35)
}

#experiment::before {
    content: "";
    background-image: url('/images/landing-page/iStock-1174382839-compressed.jpg');
    background-size: cover;
    background-position: left center;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
}

/* Section Simplify */
#simplify{
    position: relative;
    background: rgba(105,103,101,0.35);
}

#simplify::before {
    content: "";
    background-image: url('/images/landing-page/iStock-693318106.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 80px;
    z-index: -2;
    height: 100%;
    width: calc(100% - 80px);
}




/* Section Bio */
#bio{
    background-color: #ebe8e4;
}

#bio .container{
    display: flex;
}

#bio .container > div:first-child{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#bio .container > div:first-child h2{
    font-size: 1.8em;
}

#bio .container > div:first-child p{
    font-size: 1em;
    line-height: 1.5em;
}

#bio .container > div:first-child strong{
    font-weight: 700;
}

#bio .container > div:last-child{
    width: 35%;
}

#bio .container > div:last-child img{
    width: 100%;
    max-width: 350px;
    height: 100%;
    object-fit: cover;
}

/* Section collaborations */
#collaborations h2{
    font-size: 2.8em;
    font-weight: 100;
}

#collaborations .collaboration{
    display: flex;
    min-height: 300px;
    margin-top: 30px;
}

.collaboration-img{
    width: 60%;
    text-align: center;
}

.collaboration-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collaboration-text h3{
    font-size: 1.4em;
    font-weight: 700;
}

.collaboration-text h4{
    font-size: 1.2em;
    font-weight: 100;
    margin: 5px 0;
}

.collaboration-text p{
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0;
}

/* Section exchanges */
#exchanges{
    background-color: #ebe8e4;
    font-size: 1.2em;
}

#exchanges .contact_links{
    display: flex;
    justify-content: space-between;
    width: 55%;
    min-width: 300px;
    margin: 40px auto 10px;
}

#exchanges .contact_links img{
    transition: 200ms transform linear;
}

#exchanges .contact_links img:hover{
    transform: scale(1.15);
}

#exchanges h2, #posts h2{
    font-size: 2.2em;
    font-weight: 100;
}

/* Section Posts */
#posts ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}

#posts li{
    flex: 1;
}

#posts li:hover img{
    scale: 110%;
    object-position: center;
}

#posts li div{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
}

#posts article{
    width: 90%;
    margin: auto;
}

#posts article p{
    margin: 0;
    font-size: 0.9em;
    color: #a9aeb2;
}

#posts .postBtn{
    text-align: center;
    display: block;
    margin: 40px auto;
    width: 200px;
}

/* ------------------------------------------ PostListPage ---------------------------------------------- */
.postListPage{
    padding-top: calc(65px + 40px);
    width: 80%;
    max-width: 816px;
    margin: 0 auto 60px;
}

.postListPage h2{
    font-size: 2.1em;
}

.postListPage .roboto-text{
    font-size: 1.1em;
    margin-top: 30px;
}

.postListPage ul{
    list-style-type: none;
    padding: 0;
}

.postListPage article{
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.15),0 0 1px rgba(0,0,0,.09);
    margin: 40px auto;
    height: 210px;
    color: #4d4d4d;
}

.postListPage article:hover h3{
    color: #599551;
}

.postListPage__articleDescription{
    padding: 15px 20px 15px 15px;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5em;
}

.postListPage__articleDescription p{
    margin: 0;
    font-size: 0.9em;
    height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.postDateWithClock{
    display: flex;
    align-items: center;
}

.clockImg{
    height: 1em;
    margin-right: 4px;
    filter: invert(27%) sepia(9%) saturate(6%) hue-rotate(350deg) brightness(96%) contrast(83%);
}

.postListPage__articleImage{
    max-width: 240px;
    width: 33%;
}

.postListPage__articleImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btnBloc{
    text-align: right;
}


/* ------------------------------------------ PostPage ---------------------------------------------- */
.postPage p{
    font-size: 1.1em;
    font-weight: 100;
    line-height: 32px;
    margin: 5px auto;
}

.postPage h3{
    margin-top: 40px;
}

.postPage .container{
    max-width: 816px;
    margin: 0 auto 60px;
}

.postHeader{
    padding-top: 65px;
    position: relative;
    width: 100%;
    height: 340px;
}

.postHeader > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.postHeader > h2{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.8em;
    width: 100%;
    max-width: 816px;
}

.postPage .postDate{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}


.postDate > p{
    font-size: 0.9em;
    color: #a9aeb2;
}

.postPage a{
    color: rgb(0, 0, 238);
}

.postPage a.postBtn{
    color: black;
}


.postPage .container > p:last-of-type{
    margin-bottom: 50px;
}

.postPage .postImage{
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
}

.smallPostImage{
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 30px auto;
}

.postPage .credits{
    font-style: italic;
    margin: 40px auto;
}




/* ------------------------------------------- CGU -------------------------------------------------- */
.cgu{
    height: 75vh;
    padding-top: 150px;
}

.cgu-block-btn{
    margin-top: 50px;
}


/* ------------------------------------------- RESPONSIVE RULES -------------------------------------------------- */
@media screen and (max-width: 1060px){
    .container{
        width: calc(100% - 40px);
        padding-right: 20px;
        padding-left: 20px;
    }

    #simplify::before {
        width: calc(100% - 60px);
    }
}


@media screen and (max-width: 1000px){
    #bio .container > div:last-child img{
        max-height: 300px;
    }
}


@media screen and (max-width: 750px){
    .needs_items{
        flex-direction: column;
    }

    .needs_items > p{
        margin: 10px auto;
        padding: 20px;
        width: calc(100% - 44px);
    }

    #solutions .container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .solutions_item{
        width: 100%;
    }

    .steps{
        flex-direction: column;
    }

    .steps > div{
        display: flex;
        width: calc(100% - 40px);
        text-align: left;
        margin: 20px auto;
    }

    .steps > div > .step_text{
        width: 80%;
        padding-left: 20px;
    }

    .steps .square_box .square_linker{
        position: absolute;
        top: 67px;
        left: 27px;
        width: 1px;
        height: calc(100% - 40px);
        border-right: 1px solid #d6d6d5;
        border-top: 0;
    }

    #simplify::before{
        top: -40px;
    }

    #bio .container{
        flex-direction: column-reverse;
    }

    #bio .container > div:first-child{
        padding-right: 0;
        width: 100%;
    }

    #bio .container > div:last-child{
        width: 100%;
    }

    #bio .container > div:last-child img{
        display: block;
        margin: 0 auto 20px;
    }

    #collaborations .collaboration{
        flex-direction: column;
    }

    .collaboration-img{
        width: 100%;
        text-align: center;
    }

    .collaboration-img img{
        width: 100%;
        max-width: 350px;
    }

    .collaboration-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #posts ul{
        flex-direction: column;
    }

    #posts ul li{
        width: 90%;
        margin: 15px auto;
    }

    header .btn, header h1{
        display: none;
    }

    .header-brand{
        margin: auto;
    }

    footer .container{
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
    }

    footer .linkedin-sharelink{
        justify-content: center;
    }

    /* Page post-list */
    .postListPage{
        padding-top: calc(65px + 40px);
        width: 90%;
        margin: 0 auto 60px;
    }

    .postListPage article{
        flex-direction: column-reverse;
        height: auto;
        color: #4d4d4d;
    }

    .postListPage__articleDescription{
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .postListPage__articleDescription p{
        height: auto;
    }

    .postDateWithClock{
        margin-top: 10px;
    }

    .postListPage__articleImage{
        max-width: 700px;
        width: 100%;
        max-height: 300px;
    }

    .postListPage__articleImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

        .btnBloc{
            text-align: center;
        }
}

@media screen and (max-width: 500px){

    body{
        font-size: 15px;
    }

    #solutions .container{
        display: flex;
        flex-direction: column;
    }

}