---
layout: default
permalink: '/'
---

<section id="intro">
    <img src="images/landing-page/plant-2004483_1920.jpg" alt="plante">
    <div class="intro-content">
        <h2>S'adapter dans un contexte multi-projets
            qui évolue en permanence</h2>
        <div class="btn-group">
            <a href="#more" class="btn btn-black roboto-text">Voir plus</a>
            <a href="#offers" class="btn roboto-text">Accompagnements</a>
            <a href="#formation_anchor" class="btn roboto-text">Formations</a>
            <a href="#blog" class="btn roboto-text">Blog</a>
        </div>
    </div>
</section>


<section id="needs">
    <div id="more" class="anchor"></div>
    <div class="container">
        <h2>ASquared Consulting vous apporte des outils et des pratiques pour une gestion de projet sereine</h2>
        <h3 class="condensed-text">Livrer à temps avec qualité les projets les plus importants pour votre entreprise</h3>
        <div class="needs_items condensed-text">
            <p>Vous vous retrouvez trop souvent dans des réunions improductives</p>
            <p>Vous perdez votre temps à réaliser des activités chronophages à faible valeur ajoutée</p>
            <p>Vos équipes sont démotivées et ont du mal à s'organiser</p>
        </div>
    </div>
</section>


<section id="solutions">
    <div class="container">
        <article class="solutions_item condensed-text">
            <img src="/images/landing-page/compas%20-%20grey.png" alt="prioriser">
            <p>Faites la différence entre <strong>vraies priorités</strong> et fausses urgences</p>
        </article>

        <article class="solutions_item condensed-text">
            <img src="/images/landing-page/team-grey.png" alt="dynamique d'équipe">
            <p>Mettez en place une <strong>dynamique d'équipe</strong></p>
        </article>

        <article class="solutions_item condensed-text">
            <img src="/images/landing-page/engrenages%20-%20grey.png" alt="solutions">
            <p>Trouvez des solutions pour <strong>simplifier</strong> et <strong>automatiser</strong></p>
        </article>

        <article class="solutions_item condensed-text">
            <img src="/images/landing-page/team%20-%20gray.png" alt="apprendre">
            <p>Apprenez à utiliser les bons <strong>outils</strong> et <strong>méthodes</strong></p>
        </article>
    </div>
</section>

<section id="experiment">
    <div id="offers" class="anchor"></div>
    <div class="container">
        <h2>Offre "Expérimenter des solutions en 6 jours"</h2>
        <p class="condensed-text">Vous êtes en charge d'un ou plusieurs projets, vous souhaitez mettre en place des améliorations.<br>
            Identifions et co-construisons des solutions à vos problématiques.</p>
        <div class="steps roboto-text">
            <div>
                <div class="square_box">
                    <p class="square">1</p>
                    <div class="square_linker"></div>
                </div>
                <div class="step_text">
                    <p class="condensed-text">1 jour</p>
                    <h4>Immersion</h4>
                    <p>Analyse du contexte</p>
                </div>
            </div>
            <div>
                <div class="square_box">
                    <p class="square">2</p>
                    <div class="square_linker"></div>
                </div>
                <div class="step_text">
                    <p class="condensed-text">3/4 jours</p>
                    <h4>Ateliers/Coaching</h4>
                    <p>Identifier les problèmes et trouver des solutions</p>
                </div>
            </div>
            <div>
                <div class="square_box">
                    <p class="square">3</p>
                </div>
                <div class="step_text">
                    <p class="condensed-text">1 jour</p>
                    <h4>Expérimentation & Feedback</h4>
                    <p>Implémentation des solutions</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="simplify">
    <div class="container">
        <h2>Offre "Simplifier vos pratiques en 4 jours"</h2>
        <p class="condensed-text">Vous êtes en charge de réunions, d'animation d'équipe, de gestion d'activités projets, vous aspirez à plus d'efficacité, d'implication et une meilleure maîtrise de ces sujets.<br>
            Construisons ensemble un programme de formation ou accompagnement sur mesure pour atteindre vos objectifs.</p>
        <div class="steps roboto-text">
            <div>
                <div class="square_box">
                    <p class="square">1</p>
                    <div class="square_linker"></div>
                </div>
                <div class="step_text">
                    <p class="condensed-text">1 jour</p>
                    <h4>Immersion/Discussion</h4>
                    <p>Analyse du contexte & définition des objectifs</p>
                </div>
            </div>
            <div>
                <div class="square_box">
                    <p class="square">2</p>
                    <div class="square_linker"></div>
                </div>
                <div class="step_text">
                    <p class="condensed-text">0,5 jour</p>
                    <h4>Choix des thèmes</h4>
                    <p>Restitution du diagnostic et choix des thèmes à adresser</p>
                </div>
            </div>
            <div>
                <div class="square_box">
                    <p class="square">3</p>
                </div>
                <div class="step_text">
                    <p class="condensed-text">2,5 jours</p>
                    <h4>Formation/Coaching</h4>
                    <p>Avoir des outils et des connaissances pour simplifier les thèmes choisis</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="formation">
    <div id="formation_anchor" class="anchor"></div>
    <div class="container">
        <h2>Formations</h2>
        <div>
            <article>
                <h3 class="condensed-text">Gestion de projet</h3>
                <p class="condensed-text"><small>Les fondamentaux de la gestion de projet informatique</small></p>
                <p class="time">7,5 jours</p>
                <p><small>4 modules</small></p>
                <div>
                    <a href="/formations/gestion-de-projet.html" class="btn">En savoir plus</a>
                </div>
                <p>Gérer un projet informatique de bout en bout au sein d'une entreprise</p>
            </article>
            <article class="coming-soon">
                <h3 class="condensed-text">Mise en place d'améliorations</h3>
                <p class="condensed-text"><small>La conduite de réunions <br> Les retours d'expérience / lessons learnt</small></p>
                <p class="time">1 jour</p>
                <p><small>par thème</small></p>
                <div>
                    <p><i><b>Coming soon</b></i></p>
<!--                    <a href="#" class="btn">En savoir plus</a>-->
                </div>
                <p>Mettre en place des améliorations pour être plus efficace dans mon quotidien professionnel</p>
            </article>
            <article class="coming-soon">
                <h3 class="condensed-text">Prise en main de l'outil informatique</h3>
                <p class="condensed-text"><small>Utiliser la suite Google ou Office 365 dans le context professionnel</small></p>
                <p class="time">1 jour</p>
                <p><small>adaptable en fonction du niveau requis</small></p>
                <div>
                    <p><i><b>Coming soon</b></i></p>
<!--                    <a href="#" class="btn">En savoir plus</a>-->
                </div>
                <p>Maîtriser les outils numériques de bureautique dans le milieu professionnel</p>
            </article>
        </div>
    </div>
</section>

<section id="bio">
    <div class="container">
        <div>
            <h2 class="condensed-text">Valérie</h2>
            <p>
                Diplômée en Ingénierie Informatique, je débute en tant que développeuse informatique. J'intègre après quelques années <strong>Airbus</strong> Operations à Toulouse où je suis <strong>chef de projet</strong> informatique pour différents services pendant <strong>16 ans</strong>. Au sein d'Airbus je développe mes compétences de gestion de projet, d'animation d'équipes, d'améliorations de processus, d'accompagnement au changement et acquiert des savoir-faires dans les domaines Agile et Lean.
            </p>
            <p>
                Un besoin de <strong>redonner du sens</strong> à mon activité professionnelle et une belle opportunité, m'ont donné l'impulsion pour quitter Airbus et prendre le statut de <strong>freelance</strong>.
            </p>
            <p>
                Je crée <strong>ASquared Consulting</strong> avec la motivation de mettre mes compétences au service de collectivités locales, PME/PMI, associations afin d'avoir un <strong>impact positif local</strong>.
            </p>
        </div>
        <div>
            <img src="images/landing-page/IMG_20190531_135334_4.jpg" alt="Valérie">
        </div>
    </div>
</section>

<section id="collaborations">
    <div class="container">
        <h2>Nous avons collaboré</h2>
        <div class="collaboration">
            <div class="collaboration-img">
                <img src="images/landing-page/Logo-Centieme-Singe-Tiers-Lieu.jpg" alt="Le 100eme Singe">
            </div>
            <div class="collaboration-text">
                <h3 class="condensed-text">Le 100e singe</h3>
                <h4 class="roboto-text">Amandine L.</h4>
                <p class="roboto-text">Valérie est intervenue auprès du 100e Singe pour élaborer un outil de gestion des risques adapté à des problématiques de pilotage de projet d'innovation sociale au sein d'un collectivité. J'ai beaucoup apprécié son professionnalisme, ses compétences pointues de gestion de projet et gestion des risques mises au service de thématique d'innovation sociale. Elle a su identifier le besoin, proposer un outil très adapté, simple et intuitif, et être pédagogue sur la transmission de son utilisation. Je la recommande vivement.</p>
            </div>
        </div>
        <!-- <div class="collaboration">
            <div class="collaboration-text text-right">
                <h3 class="condensed-text">Le 100e singe</h3>
                <h4 class="roboto-text">Amandine L.</h4>
                <p class="roboto-text">Valérie est intervenue auprès du 100e Singe pour élaborer un outil de gestion des risques adapté à des problématiques de pilotage de projet d'innovation sociale au sein d'un collectivité. J'ai beaucoup apprécié son professionnalisme, ses compétences pointues de gestion de projet et gestion des risques mises au service de thématique d'innovation sociale. Elle a su identifier le besoin, proposer un outil très adapté, simple et intuitif, et être pédagogue sur la transmission de son utilisation. Je la recommande vivement.</p>
            </div>
            <div class="collaboration-img">
                <img src="images/landing-page/Logo-Centieme-Singe-Tiers-Lieu.jpg" alt="Le 100eme Singe">
            </div>
        </div> -->
    </div>

</section>

<section id="exchanges">
    <div class="container">
        <h2>Echangeons sur vos besoins</h2>
        <p class="condensed-text">Vous êtes une entreprise, une association, un collectivité locale, contactez-moi...</p>
        <div class="contact_links">
            <div>
                <a href="mailto:valerie@a2consulting.io" target="_blank">
                    <img src="images/landing-page/mail%20-%20grey.png" alt="mail">
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/val%C3%A9rie-ferrer-63a3b89/" target="_blank">
                    <img src="images/landing-page/linkedin%20-%20grey.png" alt="linkedin">
                </a>
            </div>
        </div>
    </div>
</section>

<section id="posts">
    <div id="blog" class="anchor"></div>
    <div class="container">
        <h2>Mes articles</h2>
        <div>
            <ul>
                {% for post in site.posts %}
                   {% if forloop.index < 4 %}
                    <li>
                        <a href="{{ post.url }}">
                            <article>
                                <div>
                                    <img src="{{ post.header-image }}" alt="illustration" class="fullWidthImage">
                                </div>
                                <h3 class="condensed-text">{{ post.title }}</h3>
                                <p>{{ post.date | date: "%d / %m / %Y" }}</p>
                            </article>
                        </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
        </div>
        <a class="btn postBtn" href="/post-list.html">Voir tous les articles</a>
    </div>
</section>