---
layout: default
---

<!-- inspiration : https://blog.nicolas.brondin-bernard.com/les-collections/ -->

<div class="postListPage">
  <h2>Mes articles</h2>
  <p class="roboto-text">Retrouvez ici les articles sur lesquels je travaille pour aborder un sujet en profondeur :</p>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">
          <article>
            <div class="postListPage__articleDescription">
              <div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
              </div>
              <div class="postDateWithClock"><img src="images/clock-regular.svg" class="clockImg"><small>Posté le {{ post.date | date: "%d / %m / %Y" }}</small></div>
            </div>

            {% if post.header-image %}
            <div class="postListPage__articleImage">
              <img src="{{ post.header-image }}" alt="illustration">
            </div>
            {% endif %}
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="btnBloc">
    <a href="/index.html" class="postBtn btn">Retour au site</a>
  </div>
</div>
