<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="shortcut icon" href="/images/logo/Logo-site-favicon.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto+Condensed:wght@300;400;700;900&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ page.header-image }}" />
    <meta property="og:type" content="article" />

</head>