<!DOCTYPE html>
<html lang="fr">

{% include head-posts.html %}

<body>

{% include header.html %}

<main class="postPage">
    <div class="postHeader">
        <img src="{{ page.header-image }}">
        <h2 class="{{ page.title-color }}">{{ page.title }}</h2>
    </div>

    <div class="container roboto-text">
        <div class="postDate">
            <p>Posté le {{ page.date | date: "%d / %m / %Y" }}</p>
        </div>

        {{ content }}

        <div class="btnBloc">
            <a href="/post-list.html" class="postBtn btn">Retour aux articles</a>
        </div>
    </div>
</main>

{% include footer.html %}

</body>

</html>